.cart-btn{
    width: 150px;
    height: 46px;
    background-color: white;
}
.cart-btn:hover{
    background-color: #373063;
    color: #fff;
    transition: 0.5s;
}
.cart-img1{
    width: 52px;
    height: 52px;
}
.cart-main{
    width: 1271px;
    background-color: #f9f9f9;
    height: 1391px;
}
.cart-link{
    text-decoration: none;
    color: #101038;
    font-weight: 600;
}
.cart-text{
    color: #a4abc5;
}
.cart-div{
    background-color: #f9f9f9;
}
.cart-space{
    border-top: 1px solid #f9f9f9;
    border-right: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
    padding-top: 5px;
}
.cart-tp{
    border: 1px solid #f9f9f9;
    
}
.cart-text2{
    color: #6f7a92;
}